In [3]:
# data reader
import pandas as pd
# data matching library
import fuzzymatcher

import warnings
warnings.filterwarnings('ignore')

In [4]:
# import excel data
profs_filename = './data/profs.xlsx'
skills = './data/Skills.xlsx'

In [5]:
# read the data
df_profs = pd.read_excel(profs_filename)
df_skills = pd.read_excel(skills)

In [6]:
df_profs.head()

                   Proffesions
0                          CFO
1                 Head Cashier
2  Field Application Scientist
3     Senior Software Engineer
4                        Owner

In [7]:
df_skills.head()

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Not Relevant,Date,Domain Source
0,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,IM,Importance,4.12,8.0,0.13,3.88,4.37,N,NaN,07/2014,Analyst
1,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,LV,Level,4.75,8.0,0.16,4.43,5.07,N,N,07/2014,Analyst
2,11-1011.00,Chief Executives,2.A.1.b,Active Listening,IM,Importance,4.12,8.0,0.13,3.88,4.37,N,NaN,07/2014,Analyst
3,11-1011.00,Chief Executives,2.A.1.b,Active Listening,LV,Level,4.88,8.0,0.23,4.43,5.32,N,N,07/2014,Analyst
4,11-1011.00,Chief Executives,2.A.1.c,Writing,IM,Importance,4.00,8.0,0.00,4.00,4.00,N,NaN,07/2014,Analyst

In [8]:
on_left = ['Proffesions']
on_right = ['Title']

In [9]:
match_results = fuzzymatcher.fuzzy_left_join(df_profs,
                                            df_skills,
                                            on_left,
                                            on_right)

In [10]:
cols = [
    'best_match_score', 'Proffesions', 'Title', 'Data Value', 'Standard Error', 'Lower CI Bound', 'Upper CI Bound'
]

In [11]:
match_results[cols].sort_values(by=['best_match_score'], ascending=False).head()

,best_match_score,Proffesions,Title,Data Value,Standard Error,Lower CI Bound,Upper CI Bound
14272,0.666836,Oral and Maxillofacial Surgeon,Oral and Maxillofacial Surgeons,4.00,0.00,4.00,4.00
14018,0.580219,Graduate Teaching Assistant,Graduate Teaching Assistants,3.88,0.13,3.63,4.12
5552,0.525703,Document Management Specialist,Document Management Specialists,3.88,0.23,3.43,4.32
7885,0.438576,Emergency Management Coordinator,Emergency Management Directors,4.00,0.00,4.00,4.00
3637,0.362685,Physician Assistant,Physician Assistants,4.12,0.13,3.88,4.37

In [12]:
match_results[cols].sort_values(by=['best_match_score'], ascending=True).head()

,best_match_score,Proffesions,Title,Data Value,Standard Error,Lower CI Bound,Upper CI Bound
16343,-0.813504,State of Tennessee AMLS Coordinator,"Agents and Business Managers of Artists, Perfo...",3.88,0.13,3.63,4.12
12639,-0.749448,Garden of Hope Propagator,"Agents and Business Managers of Artists, Perfo...",3.88,0.13,3.63,4.12
13813,-0.729379,"University of California, Davis","Agents and Business Managers of Artists, Perfo...",3.88,0.13,3.63,4.12
8494,-0.729379,Chaminade University of Honolulu,"Agents and Business Managers of Artists, Perfo...",3.88,0.13,3.63,4.12
4744,-0.719345,University of the Pacific,"Agents and Business Managers of Artists, Perfo...",3.88,0.13,3.63,4.12

In [13]:
match_results = match_results[cols].query('best_match_score <= .80').sort_values(
        by=['best_match_score'], ascending=False)

In [14]:
match_results = match_results.iloc[:75]

In [15]:
score = match_results.drop(['Data Value', 'Lower CI Bound', 'Upper CI Bound'], axis=1)

In [16]:
results = match_results.drop(['Proffesions', 'Title','best_match_score'], axis=1)

In [17]:
score.head()

,best_match_score,Proffesions,Title,Standard Error
14272,0.666836,Oral and Maxillofacial Surgeon,Oral and Maxillofacial Surgeons,0.00
14018,0.580219,Graduate Teaching Assistant,Graduate Teaching Assistants,0.13
5552,0.525703,Document Management Specialist,Document Management Specialists,0.23
7885,0.438576,Emergency Management Coordinator,Emergency Management Directors,0.00
3637,0.362685,Physician Assistant,Physician Assistants,0.13